@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

:root {
  --blue:hsl(231, 69%, 60%);
  --red: hsl(0, 94%, 66%);
  --grey: hsl(229, 8%, 60%);
  --dark: hsl(229, 31%, 21%) 
}

* {
  font-family: 'Rubik', sans-serif;
  color: var(--dark);
  text-align: center;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}
body {
  margin: 0;
  overflow-x: hidden;
}

p {
  color: var(--grey);
  line-height: 1.8rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

/* Layout */

.container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1300px;
  }
}


/* --- Navigation --- */

.mob-menu,
#burger-menu {
  display: none;
  z-index: 3
}

.navlinks a {
  text-decoration: none;
  margin-right: 2.5rem;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.navlinks a:hover,
.navlinks a:active,
.navlinks a:focus {
  color: var(--red);
  outline: none
}

.login {
  color: white;
  margin-right: 0 !important;
  font-weight: 500 !important;
}

@media (min-width: 768px) {
  .navlinks__container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .navlinks__container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {

  /* Mobile Nav */

  .navlinks {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background: hsl(229, 31%, 21%, .95);
    padding: 1.5rem 0;
    z-index: 2;
  }

  .navlinks__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 95vh;
  }
  
  .navlinks__links {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .mob-logo {
    display: block !important;
    align-self: flex-start;
    margin: .5rem 0 2.5rem 1rem;
  }

  .navlinks a {
    margin-right: 5vw;
    margin-left: 5vw;
    font-size: 20px;
    letter-spacing: .3rem;
    color: white;
    padding: 1.5rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.24); 
  }

  .navlinks a:nth-child(3) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  }

  .login {
    margin-top: 2rem;
    border-top: none !important;
    background: transparent !important;
    box-shadow: none !important;
    margin-right: 5vw !important;
    padding: .75rem 0 !important;
    border: 1px solid white !important;
    color: white !important;
    border-radius: 5px;
  }

  .navlinks__social {
    z-index: 10;
    margin-top: auto;
    margin-bottom: 1rem;
    display: inline-block !important;
  }

  .navlinks__social i {
    color: white;
    font-size: 2rem;
  }

  .navlinks__social i:nth-child(1) {
    margin-right: 2rem;
  }

  .mob-menu {
    display: block;
    justify-self: flex-end;
  }

  .nav-icon {
    position: relative;
  }

  .nav-icon,
  .nav-icon::before,
  .nav-icon::after {
    width: 1.5rem;
    height: 3px;
    background-color: black;
    display: block;
  }

  .nav-icon::before {
    content: '';
    padding: 0;
    margin: 0;
    transition: all .2s;
    position: absolute;
    top: -.5rem;
  }

  .nav-icon::after {
    content: '';
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    transition: all .2s;
    top: .5rem;
  }
  
  .mobile-menu {
    display: block;
    justify-self: flex-end;
    margin-right: 7vw;
  }

  #burger-menu:checked ~ .mob-menu > .nav-icon {
    background: transparent;
  }
  
  #burger-menu:checked ~ .mob-menu > .nav-icon::before {
    transform: rotate(135deg);
    top: .01rem;
    background-color: white
  }
  
  #burger-menu:checked ~ .mob-menu > .nav-icon::after {
    transform: rotate(-135deg);
    top: .01rem;
    background-color: white;
  }

  #burger-menu:checked ~ .navlinks {
    display: block
  }
  
}

/* --- Main Section --- */

.hero__headings {
  max-width: 540px
}

.img-wrap {
  position: relative;
}

.full-width-bg {
  margin-right: -600rem;
  border-width: 600rem;
  border-style: solid;
  border-image: linear-gradient(to bottom, transparent, transparent 25.2%, var(--blue) 25.2%, var(--blue) 100%) 1 100%;
  border-left: none;
  border-bottom: none;
  border-top: none;
}

.img-wrap::after {
  content: '';
  position: absolute;
  top: 25%;
  bottom: 0;
  z-index: -1;
  left: 25%;
  bottom: 0;
  height: 75%;
  width: 76%;
  background-color: var(--blue);
}

.img-wrap--1::after {
  right: 0;
  border-bottom-left-radius: 30%;
}

.hero__cta {
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {
  .hero__headings {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .hero__headings {
    margin-right: auto;
  }

  .hero__headings h1,
  .hero__headings p {
    text-align: left;
  }

  .hero__cta {
    justify-content: flex-start;
  }

  .hero .img-fluid {
    max-width: 100% !important;
  }
}

@media (min-width: 1200px) {
  .hero__headings {
    margin-top: 2.5rem;
  }
}

@media (min-width: 1440px) {
  .hero__headings {
    margin-top: 3.5rem;
  }
}

/* --- Features Section --- */

.features__nav {
  max-width: 100%;
}

.features__nav label {
  text-decoration: none;
  font-size: 18px;
  padding: 1rem 0;
  border-bottom: 1px solid hsla(229, 8%, 60%, 0.25);
}

.features__nav label {
  color: var(--grey);
}

.features__nav label:nth-child(1) {
  border-top: 1px solid hsla(229, 8%, 60%, 0.25);
}

.img-wrap--2::after {
  left: 0;
  height: 90%;
  border-bottom-right-radius: 30%;
}

.img-wrap--2-1::after {
  height: 85%
}

@media (min-width: 576px) {
  .img-wrap--2::after {
    width: 67%
  }
}

@media (min-width: 992px) {
  .img-wrap--2 {
    padding-left: 10vw;
  }
}

    /* features tab */

#bookmark-radio:checked ~ .features__nav #bookmarking span,
#share-radio:checked ~ .features__nav #sharing span,
#search-radio:checked ~ .features__nav #searching span {
  padding-bottom: .7rem;
  border-bottom: 5px solid hsl(0, 94%, 66%);
  color: var(--dark)
}

.features__tab-container {
  position: relative;
  overflow: hidden;
}

.article-left {
  position: absolute;
  top: 100%;
  left: -100%;
  transition: .7s all;
}

.features__radio:checked + article {
  position: relative;
  left: 0;
}


@media (min-width: 768px) {
  .features__nav {
    flex-direction: row !important;
    justify-content: center;
  }

  .features__nav label span {
    padding: 0 2.5rem;
  }

  .features__nav label:nth-child(1) {
    border-top: none;
  }
}

@media (min-width: 992px) {
  .features__tab-headings {
    margin-top: 3rem;

  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  
  .features__tab-headings {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1440px) {
  .features__tab-headings {
    margin-left: 7rem !important;
  }
}


/* --- Cards Section --- */

.card {
  box-shadow: 0 7px 10px hsla(229, 8%, 60%, 0.25);
  border-radius: 5px;
  max-width: 280px;
  padding: 2rem 0;
  margin: 0 auto 2rem auto;
}

@media (min-width: 930px) {
  .card {
    margin: 0 2rem 2rem 0;
  }

  .card:nth-child(2) {
    margin: 3rem 2rem 0 0;
  }

  .card:nth-child(3) {
    margin: 8rem 0 0 0;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


/* --- FAQ Section --- */

.faq__labels h4 {
  text-align: left;
}
.faq__labels + p {
  color: hsla(229, 31%, 21%, 0.75);
  text-align: left;
}
.faq__radio:checked + label + p {
  display: block;
} 


.faq__radio:checked + label svg {
  transform: rotate(180deg);
}


.faq__radio:checked + label .faq-arrow,
.faq__labels:hover h4,
.faq__labels:active h4,
.faq__labels:focus h4 {
  color: var(--red);
  stroke:var(--red);
  cursor: pointer;
}

.faq__labels h4 {
  font-size: 16px;
  font-weight: 500;
  padding: 1.5rem 0;
  border-top: 1px solid hsla(229, 8%, 60%, 0.25);
  margin: 0;
}

.faq__line {
  border-top: 1px solid hsla(229, 8%, 60%, 0.25);
  margin: 0 0 2rem;
}

/* --- Cta Section */

.cta {
  background-color: var(--blue);
}

.cta__stats,
.cta__heading {
  color: white
}

.cta__heading {
  margin-bottom: 2rem;
}

.cta__form {
  position: relative;
}
.cta__email {
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0 3px 10px rgba(37, 43, 70, 0.199);
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 15px;
  text-align: left;
  padding: 1rem;
}

.cta__email::placeholder {
  color: hsla(229, 8%, 60%, 0.5);
}

.cta__submit {
  font-size: 15px;
}

.input-err {
  border: 1px solid var(--red) !important;
  background-image: url(images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right 5% center;
  box-shadow: 0 20px 0 0 var(--red);
  margin-bottom: 2.5rem;
}

.err-msg {
  display: none;
  color: white;
  font-size: .8rem;
  font-style: italic;
  font-weight: 500;
  position: absolute;
  top: 24%;
  left: 18px;
}

.err-msg-show {
  display: block;
}

@media (min-width: 576px) {
  .cta__form {
    flex-direction: row !important;
    align-items: flex-start;
    justify-content: center;
  }

  .cta__email {
    margin: 0 1rem 0 0;
    width: 100%
  }

  .cta__submit {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  .input-err {
    margin-bottom: 0;
  }

  .err-msg {
    top: 65%;
  }
}

/* --- Footer --- */

footer {
  background-color: var(--dark);
  align-items: center;
  padding: 3rem 0;
}

.footer__logo {
  margin-bottom: 3rem;
  align-self: center;
}

.footer__nav a,
.footer__social i {
  color: white
}

.footer__nav a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem ;
  margin-bottom: 1.5rem;
}

.footer__social i {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.footer__social i:nth-child(1) {
  margin-right: 1rem;
}

@media (min-width: 768px) {
  footer {
    flex-direction: row !important;
    align-items: center;
    padding: 2rem 0 !important;
  }

  .footer__container {
    flex-direction: row !important;
  }

  .footer__nav {
    flex-direction: row !important;
    align-items: center;
  }

  .footer__nav a {
    margin-bottom: 0 !important;
    font-size: 14px;
    margin-right: 3rem;
  }

  .footer__logo {
    margin-bottom: 0 !important;
    margin-right: 3rem;
  }

  .footer__social {
    margin-left: auto;
  }

  .footer__social i {
    margin-top: 0 !important;
  }
}


/* --- Buttons --- */

.btn {
  text-decoration: none;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--blue);
  box-shadow: 0px 6px 7px 0px hsla(231, 69%, 60%, 0.294);
  display: inline-block;
  border: 1px solid var(--blue)
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: white;
  color:var(--blue);
  outline: none;
  cursor: pointer;
}

.btn-white {
  color: var(--grey);
  background-color: rgb(247,247,247);
  box-shadow: 0px 6px 7px 0px rgb(229, 230, 238);
  border: 1px solid transparent;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
  color: hsl(229, 31%, 21%);
  border: 1px solid hsl(229, 31%, 21%)
}

.btn-red {
  color: white;
  background-color: var(--red);
  border: 1px solid transparent;
  box-shadow: 0px 3px 7px 0px hsla(0, 94%, 66%, 0.301);
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
  color: var(--red);
  border: 1px solid var(--red)
}

.btn-lg {
  padding-left: 2rem;
  padding-right: 2rem;
}



/* --- Utilities --- */


.mw-xsm {
  max-width: 380px;
}

@media (min-width: 380px) {
  .mw-xsm {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 540px) {
  .mw-sm {
    max-width: 500px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .mw-md {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 992px) {
  .d-flex-lg {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
  }
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.order-first {
  -ms-flex-order: -1;
  order: -1;
}

@media (min-width: 992px) {
  
  .order-first-lg {
    -ms-flex-order: -1;
    order: -1;
  }
}

.img-fluid {
  max-width: 90%;
  height: auto;
}

.img-fluid-100 {
  max-width: 100%;
}

.img-80w {
  max-width: 80%;
}

@media (min-width: 992px) {
  .img-80w {
    max-width: 100%;
  }
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

@media (min-width: 540px) and (max-width: 991px) {
  .mt-6-sm {
    margin-top: 6rem !important;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 7rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.d-none {
  display: none;
}
